 <!-- Footer Start -->
 <div class="container-fluid footer" data-wow-delay="0.1s">

		<div class="copyright ">
			<div class="row  ">

<!--				<div class="col-12 d-flex flex-wrap justify-content-center center">-->
<!--					<p class="mx-3"><i class="fa fa-map-marker me-3" ></i>TamilNadu </i></p>-->
<!--					<p class="mx-3"><i class="fa fa-phone me-2"></i>7358623437 </p>-->
<!--					<p class="mx-2"><i class="fa fa-envelope me-2"></i>Way2py.com </p>-->
<!--					<p class="mx-2"><i class="fa fa-comment me-2"></i><a href="#contact_form">Contact</a></p>-->
<!--				</div>-->

<!--					 <div class="col-12 d-flex flex-wrap justify-content-center center ">-->
<!--					<a class="btn-outline-light btn-social" href=""><i class="fa fa-twitter"></i></a>-->
<!--					<a class="btn-outline-light btn-social" href=""><i class="fa fa-facebook-f"></i></a>-->
<!--					<a class="btn-outline-light btn-social" href=""><i class="fa fa-youtube"></i></a>-->
<!--					<a class="btn-outline-light btn-social" href=""><i class="fa fa-linkedin"></i></a>-->
<!--				</div>-->



			</div>

			<div class="text-center mt-3">
					&copy; <a class="border-bottom" href="#">postman.com</a>,
					All Right Reserved.
				</div>
</div >
	</div>

