<!--Forgot Password Modal-->
{%load static %}
<div id="forgot_1" class="modal">
    <form class="modal-content  animate" action="{% url 'forgot-password' %}"
          method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
            <span type="button" onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
<!--            <span onclick="document.getElementById('login_1').style.display='none'"-->
<!--                  class="close" title="Close">&times;</span>-->
            <!-- <img src="images/signin1.jpg" alt="Avatar" class="avatar"> -->
          <h2> <a class="sitename" href="{% url 'home' %}">
                <img src="{% static 'img/red_logo.png' %}" class="icon" style="width:50px;height:50px;">PostMan
            </a></h2>
        </div>

        <div class="modal-body ">

            <div class="row  pt-3 pb-3">

                  <div class="col-md-4 col-form-label">
                      <lable for="email">Email-id</lable>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group ">
                       <input type="email" class="form-control"
                           placeholder="Enter Your Email Address" id="email" name="email">
                    </div>
                  </div>
                </div>
            <div class="btnouter">
                <div class="btndisplay">
                    <button type="submit" class="btn red-button">Submit</button>
                </div>
                <div class="btndisplay">
                    <button type="button" class="btn white-button"
                            onclick="document.getElementById('forgot_1').style.display='none'"
                            class="cancelbtn">Cancel
                    </button>
                </div>

            </div>
<!--            <p class="text-center mt-4">Don't have account?-->
<!--            <a  href="#"  onclick="document.getElementById('signup').style.display='block';">Register Us</a></p>-->


        </div>

    </form>
</div>