
              <div class="card ">
                <div class="card-header">
                    <h3>Invitations</h3>
                </div>

                  <div class="row invitations p-2">
            {% for request in friend_requests %}
                      <div class="col-lg-12">
                          <div class="row">
                      <div class="col-sm-2 ">
                              <iconify-icon class="icon" icon="mdi:user-circle" ></iconify-icon>
                      </div>
                       <div class="col-lg-4">
                           <h5>{{ request.user.username }}</h5>
                               <p>abc Engineering collage</p>
              </div>
                      <div class="col-lg-3 mb-3">
                          <a href="{% url 'accept_friend_request' request.id %}"class="btn red-button">Accept</a>
                      </div>
                      <div class="col-lg-3 mb-3">
                          <a href="{% url 'reject_friend_request' request.id %}" class="btn white-button">Ignore</a>
                      </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                     <hr />

{% endfor %}

                  </div>
            </div >


