 {% extends 'title.html' %}

{% block title %}feed|Postman{% endblock %}

{%load static %}
 {% load user_filter %}
  {% block body %}

    {% include 'includes/alerts.html' %}

<div class="user-section ">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="ps-5 mx-4 pb-2">
            <div class="circle ">
                               <span class="proimage"
                                      id="proimage"> </span></h3>
            </div></div >
<!--            <img src="" alt="avatar"-->
<!--              class="rounded-circle  bg-primary img-fluid" style="width: 150px;">-->
                   {%if user_data.user_role == 'Employer' %}
                      <h3>{{user_data.work_company}}</h3>
                    {% endif %}
                    <h5>{{user.first_name}}</h5>
            <h5 class="my-3">{{user.username}}</h5>
                    <hr>
            <p class="text-muted d-flex"><iconify-icon icon="carbon:user-role" class="icon pr3"></iconify-icon>{{user_data.user_role}}</p>
                     {% if user_data.user_role == 'Fresher' %}
                   <p class="text-muted d-flex "> <iconify-icon icon="icon-park-twotone:degree-hat"class="icon pr3"></iconify-icon>{{user_data.qualification}}</p>
                     <p class="text-muted mb-1">{{user_data.year_passed_out}} passed out</p>
                    {% endif %}
                {% if user_data.user_role == 'Experienced' %}
                    <p class="text-muted mb-1">{{user_data.designation}}</p>
                     <p class="text-muted mb-1">{{user_data.exp_years}} years experience</p>
                    {% endif %}

<hr>
                      <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex  p-3">
               <iconify-icon icon="gridicons:phone"class="icon pr3"></iconify-icon>
                <p class="mb-0">{{user_data.phonenumber}}</p>
              </li>
                           {% if user_data.user_role == 'Fresher' or user_data.user_role == 'Experienced' %}
              <li class="list-group-item d-flex p-3 ">
               <iconify-icon icon="game-icons:skills" class="icon pr3"></iconify-icon>
                <p class="mb-0 text-capitalize">{{user_data.skills}}</p>
              </li>

                      {% endif %}
              <li class="list-group-item d-flex p-3 ">
               <iconify-icon icon="ion:location" class="icon pr3"></iconify-icon>
                <p class="mb-0 text-capitalize">{{user_data.emirates_office}}</p>
              </li>
                            {% if user_data.user_role == 'Experienced' %}
              <li class="list-group-item d-flex p-3">
                <iconify-icon icon="mdi:company" class="icon pr3"></iconify-icon>
                <p class="mb-0 text-capitalize">{{user_data.work_company}}</p>
              </li>
                            {% endif %}

            </ul>
            <div class="d-flex justify-content-center mt-2 mb-2">
              <button type="button" class="btn white-button">Edit</button>

            </div>
          </div>
      </div>
 {%if user_data.user_role == 'Employer' %}

  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title"> About {{user_data.work_company}}</h3>
    </div>

    <div class="card-body p-3">
     {{user_data.about_company}}
  </div>

</div >
                {% endif %}
            </div>
            <div class="col-lg-6">
              <div class="card start-post">
                <h3><a href="">Start Post</a></h3>
                  <form method="post" action="{% url 'send-message' %}">
                    {% csrf_token %}
                    <textarea class=" form-control" rows="10" cols="60" name="user-post">
                     Enter your Post here...</textarea>
                      <div class="p-2">
                    <label for="id_is_public">Post Public:</label>
                    <input type="checkbox" name="is_public" id="id_is_public">
                    <button type="submit" class="btn red-button">Post</button>
                          </div>
                </form>

              </div>
                 {% for message in post_message%}
              <div class="card incoming-post">

                  <div class="card-header">
                      {{message.sender.username}}<br>
                      {{message.timestamp}}

                  </div>
                  <textarea class=" form-control" rows="10" cols="50" name="post-messages" >
                     {{message.content}}</textarea>
              </div>
                {% endfor %}
            </div >
            <!-- /.col-lg-9-->
           {%if user_data.user_role == 'Employer' %}
            <div class="col-lg-3">
                 <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title"></h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column ">
                      <li class="mb-2">  <a href="#" onclick="document.getElementById('post_job').style.display='block';" >Post a Job</a></li>
                          {% include 'includes/post-job.html' %}
                      <li class="mb-2">  <a href="{% url 'post-job' %}">View Posted jobs</a>
                        <li>  <a href="{% url 'view-applied-list' %}" class="btn white-button">View applied list</a></li>
                  </ul>
                </div>
              </div>
            </div >
                {% endif %}
         {% if user_data.user_role == 'Fresher' or user_data.user_role == 'Experienced' %}
            <div class="col-lg-3">
              <div class="card sidebar-menu mb-4">

                <div class="card-header">
                  <h3 class="h4 card-title">Hiring</h3>
                </div>

                <div class="card-body">
                  <ul class="nav nav-pills flex-column ">
                       {% for job in job_listing %}
                    <li class="m-3"><a href="{% url 'view-job' job.id %}">{{job.title}}, in {{job.posted_by|user_company }}</a>
                      {% endfor %}

                    </li>
                  </ul>
                </div>
              </div>

            </div>
              {% endif %}
          </div>

        </div>
      </div>






 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
             $(document).ready(function()
  {
          var initials = $('#username').val().charAt(0);
          var profileImage = $('#profileImage').text(initials);
          var proimage=$('.proimage').text(initials);

     });


</script>

    {% endblock body %}
