 {% extends 'title.html' %}

{% block title %}Network|Postman{% endblock %}

{%load static %}
 {% load user_filter %}
  {% block body %}


    {% include 'includes/add-contact.html' %}

<div class="user-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <p>Manage My Network</p>
                      <ul class="list-group list-group-flush rounded-3">
                          <li class="list-group-item d-flex  p-3">
                <iconify-icon icon="pixelarticons:contact-plus"  class="icon pr3"></iconify-icon>
                <a href="#" onclick="document.getElementById('add-contact').style.display='block';"> Add contact</a>
              </li>
              <li class="list-group-item d-flex   p-3">
                <iconify-icon icon="bxs:contact" class="icon pr3"></iconify-icon>
                <a href="#"onclick="show_contacts();"id="show-contacts" class="mb-0" >contacts <small class="text-muted">({{friends.count}})</small></a>
              </li>
<!--                          <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
<!--                <i class="fas fa-globe fa-lg text-warning"></i>-->
<!--                <a href='#' class="mb-0">Connections</a>-->
<!--              </li>-->
                          <li class="list-group-item d-flex   p-3">
                <iconify-icon icon="mdi:events" class="icon pr3"></iconify-icon>
                <a href="#" class="mb-0">Events</a>
              </li>

            </ul>

          </div>
      </div>
            </div>
<!--              invitations-->
              <div class="col-lg-9">
              <div id="view-requests">
            {% include 'includes/view-requests.html' %}
              </div>
            <!-- /.col-lg-9-->
                <div id="view-friends" style="display:none;">
               {% include 'includes/view-friends.html' %}
                    </div>
              </div >
          </div>
        </div>
      </div>




<script>

     function show_contacts(){
     $('#view-requests').css("display", "none");
     $('#view-friends').css("display", "block");
     }


</script>

    {% endblock body %}