{% extends 'title.html' %}
{%load static %}
{% block title %} reset password{% endblock %}
{% block body %}

<!--suppress SyntaxError -->
<div class="container" style="min-height:84vh">
      <div class="card mx-auto" style=" border-radius: 25px;">
          <div class="card-body ">
               <div class="d-flex align-items-center justify-content-center h-100">
      <img src="{% static 'img/logo1.png' %}" class="img-fluid rounded-start" alt="...">

         </div >
          <h2 class="card-title  center mb-4">Reset Password</h2>

          <form action="{% url 'reset-password' %}" method="POST">
            {% csrf_token %}
             <div class="row pt-3 center pb-3">
                  <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Create Password" name="password" id="password1" required>
                </div>
                  <span id="passwordMessage1"></span><br>
              </div>

               <div class="row pt-3 center pb-3">
                  <div class="col-md-12">
          <input type="password"  onkeyup="conform_password_validate()" class="form-control" placeholder="Confirm Password" name="confirm_password" id="confirm_password" required>
              </div>
                    <span id="passwordMessage"></span><br>
               </div>


              <div class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  <button type="submit" class="btn red-button " id="submitButton"> Reset  </button>
              </div>
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->

</div>
<script>
function validate_password(){
var password1 = document.getElementById("password1").value;
const passwordMessage = document.getElementById('passwordMessage1');
let regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

let result = regex.test(password1);

if(!result){
passwordMessage.textContent = 'Must contain at least one number and one uppercase and lowercase, and 8 characters long ';
                passwordMessage.style.color = 'red';

                submitButton.disabled = true;

}
else{
                passwordMessage.textContent = '';
                submitButton.disabled = false;
}
}
document.getElementById("password1").addEventListener('input', validate_password);
function conform_password_validate(){
var password1 = document.getElementById("password1").value;
var conformPassword = document.getElementById("confirm_password").value;
const passwordMessage = document.getElementById('passwordMessage');
const submitButton = document.getElementById('submitButton');

      if((password1 === conformPassword) && (password1!="" && conformPassword!=""))
      {

       passwordMessage.textContent = 'Passwords match';
          passwordMessage.style.color = 'green';

        submitButton.disabled = false;
      }
      else {
                passwordMessage.textContent = 'Passwords do not match';
                passwordMessage.style.color = 'red';

                submitButton.disabled = true;
      }
    }

</script>
{% endblock body %}
