<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <meta charset="utf-8">
     <link rel="icon" href="{% static 'img/red_logo.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{%static 'img/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %} PostMan {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap"
          rel="stylesheet">


    <!-- Icon Font Stylesheet -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css"
          rel="stylesheet">



    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{%static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
     id="spinner">
    <div class="spinner-border text-primary" role="status"
         style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<nav class="navbar navbar-expand-lg  notranslate navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">

                <h1>  PostMan</h1>
            </a>

            <button aria-controls='offcanvasExample'
                    class='btn btn-danger navbar-toggler border-3 px-2' data-bs-target='#offcanvasExample'
                    data-bs-toggle='offcanvas'
                    type='button'>
                <div class="container">
                    <div class="menu-bar"></div>
                    <div class="menu-bar"></div>
                    <div class="menu-bar"></div>
                </div>

            </button>
            <div aria-labelledby='offcanvasExampleLabel' class='offcanvas offcanvas-end '
                 id='offcanvasExample'
                 tabindex='-1'>
                <div class='offcanvas-header d-flex d-lg-none'>
                    <a class="sitename offcanvas-title"
                       href="#"
                       id='offcanvasExampleLabel'>
                        <img src="{% static 'img/red_logo.png' %}" class="icon" style="width:50px;height:50px;">PostMan
                    </a>
                    <a aria-label='close'
                       class='text-reset p-0'
                       data-bs-dismiss='offcanvas'
                       href='javascript:void(0) '
                    >
                        <svg class='bi bi-x-circle'
                             fill='#f7444e'
                             height='24'
                             viewBox='0 0 16 16'
                             width='24'
                             xmlns='http://www.w3.org/2000/svg'
                        >
                            <path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>
                            <path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/>
                        </svg>
                    </a>
                </div>
                <div class='offcanvas-body p-lg-0'>
                    <!-- desktop view -->

                    <div class="navbar-nav ms-auto ">
                        {% if 'logged_in' in request.session %}

                        <a class=" nav-item nav-link" href="{% url 'feed' %}" id="home-link">

                           <iconify-icon icon="oi:home"class="icon"></iconify-icon>Home</a>
                         <a class=" nav-item nav-link" href="{% url 'my-network' %}">
                           <iconify-icon icon="mdi:access-point-network" class="icon"></iconify-icon>My Network</a>
                        <a class=" nav-item nav-link" href="{% url 'feed' %}">
                           <iconify-icon icon="ic:baseline-notifications-active"class="icon"></iconify-icon>Notification</a>


                        <input hidden
                               id="username"
                               type="text" value="{{ request.session.username}}">
                        <div class="nav-item dropdown">

                            <a class="nav-link " data-bs-toggle="dropdown"
                               href="#">
                            <div class="circle">
                                <span class="proimage"
                                      id="profileImage"> </span>
                            </div>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"
                                   title="PROFILE">
                                    <iconify-icon class="icon"
                                                  icon="mdi:user-circle"></iconify-icon>
                                    {{request.session.user_email}}
                                </a>

                                <a class="dropdown-item"
                                   href="{% url 'user-logout' %}"
                                   title="LOGOUT">
                                    <iconify-icon class="icon"
                                                  icon="uiw:logout"></iconify-icon>
                                    Log out
                                </a>


                            </div>
                        </div>

                        {% else %}

<!--                        <a class=" nav-item nav-link" href="#"-->
<!--                           onclick="document.getElementById('login_1').style.display='block';">Login</a>-->
                        <a class="nav-item nav-link"
                           href="#" onclick="document.getElementById('identify_user').style.display='block';">
                            Register</a>

                        {% endif %}



                </div>

            </div>

        </div>
        </div>
    </nav>

    {% include 'includes/alerts.html' %}

<div class="user-section ">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="ps-5 mx-4 pb-2">
            <div class="circle ">
                               <span class="proimage"
                                      id="proimage"> </span></h3>
            </div></div >
<!--            <img src="" alt="avatar"-->
<!--              class="rounded-circle  bg-primary img-fluid" style="width: 150px;">-->
                   {%if user_data.user_role == 'Employer' %}
                      <h3>{{user_data.work_company}}</h3>
                    {% endif %}
                    <h5>{{user.first_name}}</h5>
            <h5 class="my-3">{{user.username}}</h5>
            <p class="text-muted mb-1">{{user_data.user_role}}</p>
                     {% if user_data.user_role == 'Fresher' %}
                    <p class="text-muted mb-1">{{user_data.qualification}}</p>
                     <p class="text-muted mb-1">{{user_data.year_passed_out}} passed out</p>
                    {% endif %}
                {% if user_data.user_role == 'Experienced' %}
                    <p class="text-muted mb-1">{{user_data.designation}}</p>
                     <p class="text-muted mb-1">{{user_data.exp_years}} years experience</p>
                    {% endif %}


                      <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">{{user_data.phonenumber}}</p>
              </li>
                           {% if user_data.user_role == 'Fresher' or user_data.user_role == 'Experienced' %}
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">{{user_data.skills}}</p>
              </li>
                      {% endif %}
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">{{user_data.emirates_office}}</p>
              </li>
                            {% if user_data.user_role == 'Experienced' %}
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">{{user_data.work_company}}</p>
              </li>
                            {% endif %}

            </ul>
            <div class="d-flex justify-content-center mt-2 mb-2">
              <button type="button" class="btn white-button">Edit</button>

            </div>
          </div>
      </div>
 {%if user_data.user_role == 'Employer' %}

  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title"> About {{user_data.work_company}}</h3>
    </div>

    <div class="card-body p-3">
     {{user_data.about_company}}
  </div>
      <div class="card-footer">
          <a href="{% url 'post-job' %}" class="btn red-button">Post a Job</a>
      </div>
</div >
                {% endif %}
            </div>

            <div class="col-lg-6">

                 {% if user_data.user_role == 'Employer' %}

                  {% include 'includes/view-applied.html' %}

                 {% endif %}
            </div >
            <!-- /.col-lg-9-->
</div>


            </div>

          </div>





    <!-- footer -->
    {% include 'includes/footer.html' %}

    <!-- Footer End -->


    <!-- Back to Top -->
 <a href="#" class="back-to-top"><iconify-icon icon="typcn:arrow-up"></iconify-icon></a>


  <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

 <!-- Template Javascript -->
 <script src="{% static 'js/main.js' %}"></script>

<script>
             $(document).ready(function()
  {
          var initials = $('#username').val().charAt(0);
          var profileImage = $('#profileImage').text(initials);
          var proimage=$('.proimage').text(initials);

     });


</script>

</body>

</html>