 {% extends 'title.html' %}

{% block title %}Network|Postman{% endblock %}

{%load static %}
 {% load user_filter %}
  {% block body %}

<div class="user-section ">
        <div class="container">
          <div class="row">
             <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="ps-5 mx-4 pb-2">
            <div class="circle ">
                               <span class="proimage"
                                      id="proimage"> </span></h3>
            </div></div >
<!--            <img src="" alt="avatar"-->
<!--              class="rounded-circle  bg-primary img-fluid" style="width: 150px;">-->
                   {%if user_data.user_role == 'Employer' %}
                      <h3>{{user_data.work_company}}</h3>
                    {% endif %}
                    <h5>{{user.first_name}}</h5>
            <h5 class="my-3">{{user.username}}</h5>
                    <hr>
            <p class="text-muted d-flex"><iconify-icon icon="carbon:user-role" class="icon pr3"></iconify-icon>{{user_data.user_role}}</p>
                     {% if user_data.user_role == 'Fresher' %}
                   <p class="text-muted d-flex "> <iconify-icon icon="icon-park-twotone:degree-hat"class="icon pr3"></iconify-icon>{{user_data.qualification}}</p>
                     <p class="text-muted mb-1">{{user_data.year_passed_out}} passed out</p>
                    {% endif %}
                {% if user_data.user_role == 'Experienced' %}
                    <p class="text-muted mb-1">{{user_data.designation}}</p>
                     <p class="text-muted mb-1">{{user_data.exp_years}} years experience</p>
                    {% endif %}

<hr>
                      <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex  p-3">
               <iconify-icon icon="gridicons:phone"class="icon pr3"></iconify-icon>
                <p class="mb-0">{{user_data.phonenumber}}</p>
              </li>
                           {% if user_data.user_role == 'Fresher' or user_data.user_role == 'Experienced' %}
              <li class="list-group-item d-flex p-3 ">
               <iconify-icon icon="game-icons:skills" class="icon pr3"></iconify-icon>
                <p class="mb-0 text-capitalize">{{user_data.skills}}</p>
              </li>

                      {% endif %}
              <li class="list-group-item d-flex p-3 ">
               <iconify-icon icon="ion:location" class="icon pr3"></iconify-icon>
                <p class="mb-0 text-capitalize">{{user_data.emirates_office}}</p>
              </li>
                            {% if user_data.user_role == 'Experienced' %}
              <li class="list-group-item d-flex p-3">
                <iconify-icon icon="mdi:company" class="icon pr3"></iconify-icon>
                <p class="mb-0 text-capitalize">{{user_data.work_company}}</p>
              </li>
                            {% endif %}

            </ul>
            <div class="d-flex justify-content-center mt-2 mb-2">
              <button type="button" class="btn white-button">Edit</button>

            </div>
          </div>
      </div>
 {%if user_data.user_role == 'Employer' %}

  <div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title"> About {{user_data.work_company}}</h3>
    </div>

    <div class="card-body p-3">
     {{user_data.about_company}}
  </div>

</div >
                {% endif %}
            </div>

            <div class="col-lg-8">
              <div class="card ">
                <div class="card-header">
                    <h3>Applied List</h3>
                </div>
              {% if applied_users %}
                  <div class="row invitations p-2">
            {% for request in applied_users %}

                      <div class="col-lg-12">
                          <div class="row">
                       <div class="col-lg-6">
                           <h3 class="font-green">{{ request.applied_user.first_name }}&nbsp;&nbsp;{{ request.applied_user.last_name }}</h3>
                           <p>{{ request.applied_user.username }}</p>
                            <span class="text-muted center">{{request.created_at}}</span>

                              {% with user_registration=request.applied_user|user_profile %}
    {% if user_registration %}
                               <p class="text-muted">{{user_registration.emirates_office}}</p>
       <h5>Working at: {{ user_registration.work_company }}</h5><br>
                           <h5>Experience: {{ user_registration.exp_years }}</h5><br>
                           <h5>Qualification: {{ user_registration.qualification }}</h5> <br>
                           <h5>Skills: {{ user_registration.skills }}</h5>
    {% else %}
        <!-- Handle the case when the user_registration is None or not found -->
    {% endif %}
{% endwith %}
              </div>
                              </div>
                          <div class="row d-flex justify-content-center">
                      <div class="col-lg-4 mb-3 mt-3">
                          <a href="{% url 'accept-result' request.id %}" class="btn red-button">Accept</a>
                      </div>
                      <div class="col-lg-4 mb-3 mt-3">
                          <a href="{% url 'ignore-result' request.id %}" class="btn white-button">Ignore</a>
                      </div>
                                <div class="col-lg-4 mb-3 mt-3">
                          <a href="{% url 'hold-result' request.id %}" class="btn white-button">Hold</a>
                      </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                     <hr />

{% endfor %}

                  </div>
                  {% else %}
                  <h3 class="m-3"> Currently no applied users</h3>
                  {% endif %}
            </div >

            </div >
            <!-- /.col-lg-9-->
</div>


            </div>

          </div>



{% endblock body%}