{% extends 'title.html' %}

{% block title %}jobs|Postman{% endblock %}
 {%load static %}
 {% load user_filter %}
  {% block body %}

<div class="user-section ">
        <div class="container">
          <div class="row d-flex justify-content-center ">

            <div class="col-lg-6">
              <div class="card incoming-post">


                <div class="card-body">
                  <div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class=" job-title mb-1">{{jobs.title}}</h4><br>


    </div>
       <small class="light-blue">Posted Date:{{jobs.created_at}}</small> <br>
          <small class="light-blue">{{jobs.job_type}}</small>
        {% with user_registration=jobs.posted_by|user_profile %}
    {% if user_registration %}
                   <br>
    <p class="mb-1 light-blue">company:{{ user_registration.work_company }}</p>
      <p>{{user_registration.industry_type}}</p>
    <p>Location:{{ user_registration.emirates_office }}</p>
      <p>company size:{{user_registration.employee_count}}</p>
      <p>About: {{user_registration.about_company}}</p>
       {% else %}
        <!-- Handle the case when the user_registration is None or not found -->
    {% endif %}
{% endwith %}
       <p>Description:&nbsp;{{jobs.description}}</p>

                      {% if remarks %}

                  <button  class="btn red-button" disabled>Applied</button>
                       <p>Your application Current status is: <span class="high-light">{{remarks}}</span></p>

                  {% else %}

                  <a href="{% url 'apply-job' jobs.id %}" class="btn red-button">apply</a>

                  {% endif %}
       </div>
 </div>
                  </div>

              </div>

            </div >
            <!-- /.col-lg-9-->
</div>


            </div>

          </div>





 {% endblock body %}